{
  "openapi": "3.1.0",
  "info": {
    "title": "Compass API",
    "description": "#### Welcome to the DeFi API from [Compass Labs](https://www.compasslabs.ai)!\n\nOur API allows you to interact and transact in DeFi with ease.\n\nWe help you construct your transactions via a **simple REST API**.  \nYou maintain custody at all times and **sign** all transactions **yourself**.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.compasslabs.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v0/aave/supply": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Supply/Lend",
        "description": "By supplying assets, users can earn interest on their deposits\n\nThe supplied collateral can be used as a basis for borrowing other assets, allowing users to\nleverage their positions. In combination with a trading protocol, this can create leverage.  \n\nOverall, this endpoint is a critical component for users looking to maximize their asset\nutility within the AAVEv3 ecosystem, providing both earning potential and borrowing\nflexibility.",
        "operationId": "supply_v0_aave_supply_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveSupplyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/borrow": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Borrow",
        "description": "You will pay interest for your borrows. Price changes in the assets may lead to\nsome or all of your collateral being liquidated, if the borrow position becomes unhealthy.",
        "operationId": "borrow_v0_aave_borrow_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveBorrowRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/repay": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Repay loans",
        "description": "This endpoint allows users to repay a portion or the entirety of their borrowed tokens on\nthe Aave platform. By repaying borrowed amounts, users can improve their health factor,\nwhich is a measure of the safety of their loan position. A higher health factor reduces the\nrisk of liquidation, ensuring a more secure borrowing experience. The endpoint requires\nspecifying the chain and the details of the repayment transaction, including the amount and\nthe asset to be repaid.",
        "operationId": "repay_v0_aave_repay_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveRepayRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/withdraw": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Unstake",
        "description": "This endpoint facilitates the withdrawal of collateral from the Aave protocol. Users can\nwithdraw a portion or all of their collateral, which may increase the risk of liquidation if\nthere are outstanding borrows. The withdrawal process also includes the collection of any\ninterest earned on the collateral. It is important for users to carefully consider their\noutstanding debts and the potential impact on their liquidation threshold before proceeding\nwith a withdrawal. This endpoint is designed to provide a seamless and efficient way to\nmanage your collateral within the Aave ecosystem.",
        "operationId": "withdraw_v0_aave_withdraw_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveWithdrawRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/asset_price/get": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Token prices",
        "description": "This endpoint retrieves the current price of a specified asset in USD as\ndetermined by the Aave protocol. It utilizes the Aave V3 Oracle to fetch the\nasset price, ensuring accurate and up-to-date information. The request\nrequires the asset identifier and the blockchain network (chain) on which the\nasset resides. The response provides the asset price in a standardized format,\nconverted from Wei to the base currency decimals defined by Aave.",
        "operationId": "get_asset_price_v0_aave_asset_price_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveGetAssetPriceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaveAssetPriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/liquidity/change/get": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Liquidity index",
        "description": "This endpoint retrieves the change in the reserve liquidity index between two provided\n        blocks. This is then converted to a percentage change. The liquidity index represents the\n        change in debt and interest accrual over each block. Aave does not store individual user\n        balances directly. Instead, it keeps a scaled balance and uses the liquidity index to\n        compute real balances dynamically. If a user was to have deposited tokens at the start\n        block, a positive liquidity index change will represent accrued interest and a profit. If\n        tokens were borrowed at the start block, this debt will increase, compound on itself and\n        represent large debt. The reverse in both cases is true if the liquidity index is negative.",
        "operationId": "get_liquidity_change_v0_aave_liquidity_change_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveGetLiquidityChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaveLiquidityChangeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/user_position_summary/get": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Positions - total",
        "description": "This endpoint retrieves a comprehensive summary of a user's position on the AAVE platform.\n        It provides key financial metrics including the total collateral deposited, total debt\n        accrued, available borrowing capacity, liquidation threshold, maximum loan-to-value ratio,\n        and the health factor of the user's account. These metrics are calculated by aggregating\n        data across all open positions held by the user, offering a holistic view of their financial\n        standing within the AAVE ecosystem.",
        "operationId": "get_user_position_summary_v0_aave_user_position_summary_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveGetUserPositionSummaryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaveUserPositionSummaryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aave/user_position_per_token/get": {
      "post": {
        "tags": [
          "Aave V3"
        ],
        "summary": "Positions - per token",
        "description": "This endpoint retrieves the user's position for a specific token on the AAVE\n        platform. It provides key financial metrics including the current aToken balance,\n        current stable debt, current variable debt, principal stable debt, principal variable\n        debt, stable borrow rate, stable borrow rate for new loans, variable borrow rate, and\n        liquidity rate. These metrics are calculated by aggregating data across all open\n        positions held by the user for the specified token, offering a detailed view of their\n        financial standing within the AAVE ecosystem.",
        "operationId": "get_user_position_per_token_v0_aave_user_position_per_token_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaveGetUserPositionPerTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaveUserPositionPerTokenResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/swap/tokens": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Swap",
        "description": "Swap one token for another on Aerodrome.\nEnsure you specify the minimum amount you expect to receive to\navoid trading at an unfavorable exchange rate. This endpoint\nfacilitates the exchange of tokens by interacting with the\nAerodrome smart contract, ensuring that the transaction is\nexecuted only if the specified minimum output is met.",
        "operationId": "process_request_v0_aerodrome_basic_swap_tokens_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSwapTokensCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/swap/eth_for_token": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Swap from ETH",
        "description": "This endpoint allows you to swap a specified amount of ETH for a\ndesired token on the Aerodrome platform. To protect against\nunfavorable exchange rates, you must specify the minimum amount\nof the token you wish to receive. The transaction will only be\nexecuted if this minimum amount is met, ensuring you do not\naccidentally trade at a disadvantageous rate.",
        "operationId": "process_request_v0_aerodrome_basic_swap_eth_for_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSwapEthForTokenCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/swap/token_for_eth": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Swap to ETH",
        "description": "Swap a specified amount of a token for ETH using the Aerodrome platform.\nTo protect against unfavorable exchange rates, you must specify the minimum\namount of ETH you wish to receive. The transaction will only be executed if\nthis minimum amount is met, ensuring you do not trade at a disadvantageous rate.",
        "operationId": "process_request_v0_aerodrome_basic_swap_token_for_eth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSwapTokenForEthCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/liquidity_provision/add_liquidity": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Provide liquidity",
        "description": "This endpoint allows users to provide liquidity to a specified pool on the\nAerodrome platform. Users must specify the tokens, desired amounts, minimum\namounts, and a deadline for the transaction. The operation will ensure the\npool exists and will use the sender's address if no recipient is specified.",
        "operationId": "process_request_v0_aerodrome_basic_liquidity_provision_add_liquidity_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeLiquidityProvisionCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/liquidity_provision/add_liquidity_eth": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Provide liquidity using WETH",
        "description": "This endpoint allows users to provide liquidity to a specified pool on the\nAerodrome platform using Wrapped Ether (WETH) and another token. Users must\nspecify the token pair, desired amounts, minimum amounts, and a deadline for\nthe transaction. The operation will ensure the pool exists and will use the\nsender's address if no recipient is specified. The transaction will be executed\nthrough the Aerodrome Basic Router contract, and the specified amount of WETH\nwill be sent along with the transaction.",
        "operationId": "process_request_v0_aerodrome_basic_liquidity_provision_add_liquidity_eth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeLiquidityProvisionEthCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/liquidity_provision/remove_liquidity": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Remove liquidity",
        "description": "This endpoint allows users to remove liquidity from a specified pool on the\nAerodrome platform. Users must specify the token pair, the amount of liquidity\nto remove, minimum amounts for each token, and a deadline for the transaction.\nThe operation will ensure the pool exists and will use the sender's address if\nno recipient is specified. The transaction will be executed through the\nAerodrome Basic Router contract, and the specified amount of liquidity will be\nwithdrawn from the pool.",
        "operationId": "process_request_v0_aerodrome_basic_liquidity_provision_remove_liquidity_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeRemoveLiquidityCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_basic/liquidity_provision/remove_liquidity_eth": {
      "post": {
        "tags": [
          "Aerodrome Basic"
        ],
        "summary": "Remove liquidity using WETH",
        "description": "This endpoint allows users to remove liquidity from a pool on the Aerodrome\nplatform using WETH and another token. Users must specify the token pair, the\namount of liquidity to remove, minimum amounts for each token, and a deadline\nfor the transaction. The operation will ensure the pool exists and will use\nthe sender's address if no recipient is specified. The transaction will be\nexecuted through the Aerodrome Basic Router contract, and the specified amount\nof liquidity will be withdrawn from the pool.",
        "operationId": "process_request_v0_aerodrome_basic_liquidity_provision_remove_liquidity_eth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeRemoveLiquidityEthCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/pool_price/get": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Pool price",
        "description": "This endpoint retrieves the current price of a pool, indicating how many token0\nyou can purchase for 1 token1. Note that this is an instantaneous price and may\nchange during any trade. For a more accurate representation of the trade ratios\nbetween the two assets, consider using the quote endpoint.",
        "operationId": "process_request_v0_aerodrome_slipstream_pool_price_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AerodromeSlipstreamGetPoolPrice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AerodromeSlipstreamPoolPrice"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/swap/sell_exactly": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Swap - from specified amount",
        "description": "This endpoint allows users to trade a specific amount of one token\ninto another token using the Aerodrome Slipstream protocol. The\ntransaction is executed by specifying the exact amount of the input\ntoken to be sold, and the system calculates the amount of the output\ntoken that will be received. The operation ensures that the trade is\nconducted within the constraints of the current market conditions,\ntaking into account the liquidity and price impact. This endpoint is\nsuitable for users who want to sell a precise quantity of a token\nand are willing to accept the resulting amount of the other token.",
        "operationId": "process_request_v0_aerodrome_slipstream_swap_sell_exactly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSlipstreamSellExactlyCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/swap/buy_exactly": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Swap - into specified amount",
        "description": "This endpoint facilitates the trading of tokens by allowing users to\nspecify the exact amount of the output token they wish to receive.\nUtilizing the Aerodrome Slipstream protocol, the system calculates\nthe necessary amount of the input token required to achieve the\ndesired output. This operation is particularly useful for users who\nhave a specific target amount of the output token in mind and are\nwilling to provide the corresponding input token amount. The\ntransaction is executed with consideration of current market\nconditions, including liquidity and price impact, ensuring that the\ntrade is completed efficiently and effectively.",
        "operationId": "process_request_v0_aerodrome_slipstream_swap_buy_exactly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSlipstreamBuyExactlyCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/liquidity_provision/positions/get": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "List LP positions",
        "description": "Retrieve the total number of Liquidity Provider (LP) positions associated with a specific sender.\nThis endpoint allows users to query and obtain detailed information about their LP positions,\nincluding the number of active positions they hold. The response model, AerodromeLPPositionsInfo,\nprovides a structured representation of the LP positions data, ensuring clarity and ease of use.\nThis functionality is essential for users managing their liquidity provision activities,\nenabling them to make informed decisions based on their current positions.",
        "operationId": "process_request_v0_aerodrome_slipstream_liquidity_provision_positions_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AerodromeSlipstreamGetLiquidityProvisionPositions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AerodromeLPPositionsInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/liquidity_provision/mint": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Open a new LP position",
        "description": "Initiate a new Liquidity Provider (LP) position by minting tokens.\nThis endpoint allows users to open a new LP position, enabling them to participate in liquidity provision.\nThe minting process involves creating a new position with specified parameters,\nsuch as token amounts and pool details. The response will confirm the successful creation of the LP position,\nproviding users with the necessary information to manage their newly minted position.\nThis functionality is crucial for users looking to expand their liquidity provision activities,\noffering them the opportunity to engage in decentralized finance (DeFi) markets effectively.",
        "operationId": "process_request_v0_aerodrome_slipstream_liquidity_provision_mint_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSlipstreamMintLiquidityProvisionCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/liquidity_provision/increase": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Increase an LP position",
        "description": "Increase the liquidity of an existing Liquidity Provider (LP) position.\nThis endpoint allows users to add more tokens to their current LP position,\nenhancing their participation in liquidity provision. By increasing liquidity,\nusers can potentially earn more rewards and improve their position in the pool.\nThe process involves specifying additional token amounts and updating the pool details.\nThe response will confirm the successful increase of the LP position,\nproviding users with updated information about their enhanced position.\nThis functionality is vital for users aiming to optimize their liquidity provision strategy,\nenabling them to adapt to market conditions and maximize their returns in decentralized finance (DeFi) markets.",
        "operationId": "process_request_v0_aerodrome_slipstream_liquidity_provision_increase_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSlipstreamIncreaseLiquidityProvisionCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/aerodrome_slipstream/liquidity_provision/withdraw": {
      "post": {
        "tags": [
          "Aerodrome Slipstream"
        ],
        "summary": "Withdraw an LP position",
        "description": "Withdraw an existing Liquidity Provider (LP) position.\nThis endpoint allows users to remove their tokens from an LP position,\neffectively closing their participation in the liquidity pool.\nThe withdrawal process involves specifying the LP position to be closed,\nand the response will confirm the successful removal of liquidity,\nproviding users with details about the withdrawn tokens and any remaining balances.\nThis functionality is essential for users who wish to exit their liquidity provision activities,\nenabling them to reclaim their assets and potentially reallocate them to other investment opportunities.\nThe endpoint ensures a smooth and secure withdrawal process,\nfacilitating users' strategic management of their decentralized finance (DeFi) portfolios.",
        "operationId": "process_request_v0_aerodrome_slipstream_liquidity_provision_withdraw_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseTransactionRequest_AerodromeSlipstreamWithdrawLiquidityProvisionCallData_"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/portfolio/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "List user portfolio",
        "description": "Fetch the detailed portfolio of a specific wallet address on a given blockchain. This includes the total value of the portfolio in USD and a breakdown of token balances, including their respective values and quantities.",
        "operationId": "get_portfolio_v0_generic_portfolio_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Portfolio"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/visualize_portfolio/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Visualize user portfolio",
        "description": "Generate a visual representation of the token portfolio for a wallet address. The response is an SVG image of a pie chart depicting the relative distribution of tokens held, colored and labeled with token symbols, percentages and token values in USD.",
        "operationId": "visualize_portfolio_v0_generic_visualize_portfolio_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisualizePortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/price/usd/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Token price",
        "description": "Retrieves the price of the specified token relative to USD using Chainlink's on-chain price feeds. Chainlink is a decentralized oracle that aggregates price data from off-chain sources. This ensures the price is tamper-resistant but the price might be stale with the update frequency of the oracle.",
        "operationId": "get_price_v0_generic_price_usd_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/supported_tokens/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "List supported tokens",
        "description": "Get the list of supported tokens on a chain by the Compass API.",
        "operationId": "get_tokens_v0_generic_supported_tokens_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokensRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/balance/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "User token balance",
        "description": "Returns the balance of a specific ERC20 token for a given user address.",
        "operationId": "get_balance_v0_generic_balance_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetErc20BalanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/allowance/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Get allowance - Protocol",
        "description": "In decentralized finance (DeFi) protocols such as Uniswap or AAVE,\n        users must set a token allowance to authorize the protocol to spend\n        a specified amount of their tokens on their behalf. This is a crucial\n        step before engaging in any transactions or operations within these\n        protocols, ensuring that the protocol has the necessary permissions\n        to manage the user's tokens securely and efficiently.",
        "operationId": "get_allowance_v0_generic_allowance_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetErc20AllowanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowanceInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/ens/get": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Resolve ENS",
        "description": "An ENS name is a string ending in `.eth`. E.g. `vitalik.eth`. This endpoint can be used to query the actual ethereum wallet address behind the ENS name.",
        "operationId": "get_ens_details_v0_generic_ens_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnsDetailsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnsNameInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/wrap_eth": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Wrap ETH",
        "description": "Wrapping ETH creates an ERC-20 compliant form of ETH that is typically needed for it to be traded on DeFi protocols.",
        "operationId": "wrap_eth_v0_generic_wrap_eth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrapEthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/unwrap_weth": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Unwrap WETH",
        "description": "Unwrapping WETH converts the ERC-20 compliant form of ETH back to native ETH that can be used for gas and other native purposes.",
        "operationId": "unwrap_weth_v0_generic_unwrap_weth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnwrapWethRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/transfer/erc20": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Transfer Token",
        "description": "Sends ERC20 tokens from the sender's address to the specified recipient.",
        "operationId": "transfer_erc20_v0_generic_transfer_erc20_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferERC20Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/transfer/native_token": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Transfer ETH",
        "description": "Sends native ETH from the sender's address to the specified recipient.",
        "operationId": "transfer_native_token_v0_generic_transfer_native_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferEthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/allowance/set": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Set Allowance - Protocol",
        "description": "This endpoint allows users to modify the token allowance for a specific\n    protocol. In decentralized finance (DeFi), setting an allowance is a\n    necessary step to authorize a protocol to spend a specified amount of\n    tokens on behalf of the user. This operation is crucial for ensuring\n    that the protocol can manage the user's tokens securely and efficiently,\n    enabling seamless transactions and operations within the DeFi ecosystem.",
        "operationId": "set_allowance_v0_generic_allowance_set_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncreaseAllowanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/generic/allowance/set_any": {
      "post": {
        "tags": [
          "Others"
        ],
        "summary": "Set Allowance - Token",
        "description": "This endpoint allows users to set an allowance for any arbitrary ERC20\n    token address. In decentralized finance (DeFi), setting an allowance\n    is a critical operation that permits a protocol to spend a specified\n    amount of tokens on behalf of the user. This functionality is essential\n    for enabling secure and efficient token management, facilitating smooth\n    transactions and operations within the DeFi ecosystem. By using this\n    endpoint, users can specify the token address and the amount they wish\n    to authorize, ensuring precise control over their token allowances.",
        "operationId": "set_any_allowance_v0_generic_allowance_set_any_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncreaseAllowanceAnyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/swap/buy_exactly": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Buy exact amount",
        "description": "This endpoint allows users to trade a variable amount of one token\n        to receive an exact amount of another token using the Uniswap protocol.\n        The transaction is executed on the specified blockchain network, and\n        the user must provide the necessary transaction details, including the\n        token to buy, the token to pay with, and the exact amount to receive.\n        If the token being paid with is WETH and needs to be wrapped, the\n        appropriate amount will be wrapped automatically.",
        "operationId": "buy_exactly_v0_uniswap_swap_buy_exactly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapBuyExactlyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/swap/sell_exactly": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Sell exact amount",
        "description": "This endpoint allows users to trade a specific amount of one token\n        into another token using the Uniswap protocol. The transaction is\n        executed on the specified blockchain network, and the user must\n        provide the necessary transaction details, including the token to\n        sell, the token to receive, and the amount to sell. If the token\n        being sold is WETH and needs to be wrapped, the appropriate amount\n        will be wrapped automatically.",
        "operationId": "sell_exactly_v0_uniswap_swap_sell_exactly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapSellExactlyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/liquidity_provision/increase": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Increase an LP position",
        "description": "This endpoint allows users to increase their existing Liquidity Provider (LP) positions on\n        the Uniswap platform. By providing the necessary parameters, users can add more liquidity to\n        their current positions, thereby increasing their stake in the liquidity pool. This\n        operation is beneficial for users who wish to enhance their potential earnings from trading\n        fees within the pool. The endpoint requires details such as the token pair, additional\n        amount to be added, and any other parameters necessary for the liquidity increase process.",
        "operationId": "increase_liquidity_v0_uniswap_liquidity_provision_increase_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapIncreaseLiquidityProvision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/liquidity_provision/mint": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Open a new LP position",
        "description": "This endpoint allows users to open a new Liquidity Provider (LP) position on the Uniswap\n    platform. By providing the necessary parameters, users can initiate a minting process to create\n    a new LP token, which represents their stake in a specific liquidity pool. This operation is\n    essential for users looking to participate in liquidity provision, enabling them to earn fees\n    from trades that occur within the pool. The endpoint requires details such as the token pair,\n    amount, and any additional parameters needed for the minting process.",
        "operationId": "mint_v0_uniswap_liquidity_provision_mint_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapMintLiquidityProvision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/liquidity_provision/withdraw": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Withdraw an LP position",
        "description": "This endpoint allows users to withdraw their Liquidity Provider (LP) positions\n    from the Uniswap platform. By specifying the necessary parameters, users can initiate the\n    withdrawal process to remove their stake from a specific liquidity pool. This operation is\n    crucial for users who wish to reclaim their assets or reallocate their liquidity to different\n    pools or investments. The endpoint requires details such as the token pair, the amount to be\n    withdrawn, and any additional parameters needed for the withdrawal process. Users should ensure\n    they meet any protocol requirements or conditions before initiating a withdrawal to avoid\n    potential issues or penalties.",
        "operationId": "withdraw_v0_uniswap_liquidity_provision_withdraw_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapWithdrawLiquidityProvision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/quote/buy_exactly/get": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Get quote - to specified amount",
        "description": "This endpoint calculates the amount of input tokens required to purchase a specified amount\n        of output tokens from a Uniswap pool. It also provides the resulting price after the\n        transaction. The calculation takes into account the current pool state and the specified fee\n        tier.",
        "operationId": "get_buy_quote_v0_uniswap_quote_buy_exactly_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapGetBuyQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniswapBuyQuoteInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/quote/sell_exactly/get": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Get quote - from specified amount",
        "description": "This endpoint calculates the amount of input tokens required to purchase a specified amount of\n    output tokens from a Uniswap pool. It also provides the resulting price after the transaction.\n    The calculation takes into account the current pool state and the specified fee tier.",
        "operationId": "get_sell_quote_v0_uniswap_quote_sell_exactly_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapGetSellQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniswapSellQuoteInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/pool_price/get": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Pool price",
        "description": "This endpoint calculates the price of a token in a Uniswap pool. The price is\n        calculated based on the current pool state and the specified fee tier.",
        "operationId": "get_pool_price_v0_uniswap_pool_price_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapGetPoolPriceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniswapPoolPriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/liquidity_provision/in_range/get": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "Check if LP is active.",
        "description": "this endpoint allows users to check whether a specific liquidity provider (lp)\n        position is within the active tick range on the uniswap platform. by providing\n        the token id associated with the position, users can verify if the position is\n        currently within the tick range where trading occurs. this information is essential\n        for users to monitor the status of their lp positions and ensure that they are\n        actively participating in the trading activities within the liquidity pool and\n        earning trading fees.",
        "operationId": "in_range_v0_uniswap_liquidity_provision_in_range_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapCheckInRangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniswapCheckInRangeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/uniswap/liquidity_provision/positions/get": {
      "post": {
        "tags": [
          "Uniswap V3"
        ],
        "summary": "List LP",
        "description": "This endpoint retrieves the number of Liquidity Provider (LP) positions\n        associated with a specific sender address on the Uniswap platform.\n        Users can query this endpoint to obtain detailed information about their\n        LP positions, including the total number of positions and relevant metadata.\n        This information is crucial for users to manage and analyze their liquidity\n        provision activities effectively.",
        "operationId": "get_positions_v0_uniswap_liquidity_provision_positions_get_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniswapGetLiquidityProvisionPositionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniswapLPPositionsInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AaveAssetPriceResponse": {
        "properties": {
          "price": {
            "type": "string",
            "title": "Price",
            "description": "The price of the asset in USD."
          }
        },
        "type": "object",
        "required": [
          "price"
        ],
        "title": "AaveAssetPriceResponse"
      },
      "AaveBorrowRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "sender": {
            "type": "string",
            "title": "Sender",
            "description": "The address of the transaction sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the underlying asset to borrow.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount",
            "description": "The amount of the asset to borrow",
            "examples": [
              150.5
            ]
          },
          "interest_rate_mode": {
            "$ref": "#/components/schemas/InterestRateMode",
            "description": "The interest rate mode to borrow",
            "examples": [
              1
            ],
            "ge": 1,
            "le": 2
          },
          "on_behalf_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "On Behalf Of",
            "description": "The address on behalf of whom the supply is made",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          }
        },
        "type": "object",
        "required": [
          "chain",
          "sender",
          "asset",
          "amount",
          "interest_rate_mode"
        ],
        "title": "AaveBorrowRequest",
        "example": {
          "amount": 1,
          "asset": "USDT",
          "chain": "arbitrum:mainnet",
          "interest_rate_mode": 2,
          "on_behalf_of": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B",
          "sender": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AaveGetAssetPriceRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the asset whose price you want.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          }
        },
        "type": "object",
        "required": [
          "chain",
          "asset"
        ],
        "title": "AaveGetAssetPriceRequest",
        "example": {
          "asset": "USDC",
          "chain": "arbitrum:mainnet"
        }
      },
      "AaveGetLiquidityChangeRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "start_block": {
            "type": "integer",
            "title": "Start Block",
            "description": "The starting block.",
            "examples": [
              21500000
            ]
          },
          "end_block": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "End Block",
            "description": "The ending block. If nothing provided defaults to latest",
            "examples": [
              21800000
            ]
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the asset to fetch liquidity index change for.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          }
        },
        "type": "object",
        "required": [
          "chain",
          "start_block",
          "asset"
        ],
        "title": "AaveGetLiquidityChangeRequest",
        "example": {
          "asset": "USDC",
          "chain": "arbitrum:mainnet",
          "end_block": 319407231,
          "start_block": 0
        }
      },
      "AaveGetUserPositionPerTokenRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "user": {
            "type": "string",
            "title": "User",
            "description": "The user to fetch the token-specific position of.",
            "examples": [
              "0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45"
            ]
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the asset to fetch the user's position on.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          }
        },
        "type": "object",
        "required": [
          "chain",
          "user",
          "asset"
        ],
        "title": "AaveGetUserPositionPerTokenRequest",
        "example": {
          "asset": "USDC",
          "chain": "arbitrum:mainnet",
          "user": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AaveGetUserPositionSummaryRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "user": {
            "type": "string",
            "title": "User",
            "description": "The user to get the position summary of. Values are in USD.",
            "examples": [
              "0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45"
            ]
          }
        },
        "type": "object",
        "required": [
          "chain",
          "user"
        ],
        "title": "AaveGetUserPositionSummaryRequest",
        "example": {
          "chain": "arbitrum:mainnet",
          "user": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AaveLiquidityChangeResponse": {
        "properties": {
          "liquidity_change": {
            "type": "string",
            "title": "Liquidity Change",
            "description": "The change in the liqudiity index between the two times, expressed as a percentage."
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "title": "Start Time",
            "description": "Dateime of starting block"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "title": "End Time",
            "description": "Dateime of ending block"
          }
        },
        "type": "object",
        "required": [
          "liquidity_change",
          "start_time",
          "end_time"
        ],
        "title": "AaveLiquidityChangeResponse"
      },
      "AaveRepayRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "sender": {
            "type": "string",
            "title": "Sender",
            "description": "The address of the transaction sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the underlying asset to repay.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount",
            "description": "The amount of the asset to repay",
            "examples": [
              1.5
            ]
          },
          "interest_rate_mode": {
            "$ref": "#/components/schemas/InterestRateMode",
            "description": "The interest rate mode to borrow",
            "examples": [
              1
            ],
            "ge": 1,
            "le": 2
          },
          "on_behalf_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "On Behalf Of",
            "description": "The address on behalf of whom the supply is made",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          }
        },
        "type": "object",
        "required": [
          "chain",
          "sender",
          "asset",
          "amount",
          "interest_rate_mode"
        ],
        "title": "AaveRepayRequest",
        "example": {
          "amount": 1,
          "asset": "USDT",
          "chain": "arbitrum:mainnet",
          "interest_rate_mode": 2,
          "on_behalf_of": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B",
          "sender": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AaveSupplyRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "sender": {
            "type": "string",
            "title": "Sender",
            "description": "The address of the transaction sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the underlying asset to supply as collateral. You can borrow against it.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount",
            "description": "The amount of the asset to supply",
            "examples": [
              1.5
            ]
          },
          "on_behalf_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "On Behalf Of",
            "description": "The address on behalf of whom the supply is made. Defaults to the transaction sender.",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          }
        },
        "type": "object",
        "required": [
          "chain",
          "sender",
          "asset",
          "amount"
        ],
        "title": "AaveSupplyRequest",
        "example": {
          "amount": 1,
          "asset": "USDC",
          "chain": "arbitrum:mainnet",
          "sender": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AaveUserPositionPerTokenResponse": {
        "properties": {
          "token_balance": {
            "type": "string",
            "title": "Token Balance",
            "description": "The balance of AAVE aTokens (interest-bearing representations of your deposits)."
          },
          "stable_debt": {
            "type": "string",
            "title": "Stable Debt",
            "description": "The amount of the user's debt with a fixed interest rate."
          },
          "variable_debt": {
            "type": "string",
            "title": "Variable Debt",
            "description": "The amount of the user's debt with a variable interest rate."
          },
          "principal_stable_debt": {
            "type": "string",
            "title": "Principal Stable Debt",
            "description": "The amount of the user's debt that was part of the initial principal of all\n        loans with a stable interest rate."
          },
          "principal_variable_debt": {
            "type": "string",
            "title": "Principal Variable Debt",
            "description": "The amount of the user's debt that was part of the initial principal of all\n        loans with a variable interest rate. This is the value stored by AAVE, which may be slightly\n        inaccurate, but reflects what AAVE believes you initially paid."
          },
          "stable_borrow_rate": {
            "type": "string",
            "title": "Stable Borrow Rate",
            "description": "The current average annualised interest rate for all your stable loans in\n        this pool."
          },
          "stable_borrow_rate_for_new_loans": {
            "type": "string",
            "title": "Stable Borrow Rate For New Loans",
            "description": "The annualised interest rate you would pay on a new stable loan."
          },
          "variable_borrow_rate": {
            "type": "string",
            "title": "Variable Borrow Rate",
            "description": "The current annualised interest rate for variable rate loans in this pool.\n        (This applies to both current and new loans.)"
          },
          "liquidity_rate": {
            "type": "string",
            "title": "Liquidity Rate",
            "description": "The annualised interest rate for deposited supplies."
          }
        },
        "type": "object",
        "required": [
          "token_balance",
          "stable_debt",
          "variable_debt",
          "principal_stable_debt",
          "principal_variable_debt",
          "stable_borrow_rate",
          "stable_borrow_rate_for_new_loans",
          "variable_borrow_rate",
          "liquidity_rate"
        ],
        "title": "AaveUserPositionPerTokenResponse"
      },
      "AaveUserPositionSummaryResponse": {
        "properties": {
          "maximum_loan_to_value_ratio": {
            "type": "string",
            "title": "Maximum Loan To Value Ratio",
            "description": "The loan to value ratio of a user."
          },
          "health_factor": {
            "type": "string",
            "title": "Health Factor",
            "description": "The health factor of a user. If this is above 1 it is safe; below 1 and the\n        user is in risk of liquidation. This number might be very high (which would mean the user is\n        safe!)"
          },
          "total_collateral": {
            "type": "string",
            "title": "Total Collateral",
            "description": "The total collateral (in USD) of a user."
          },
          "total_debt": {
            "type": "string",
            "title": "Total Debt",
            "description": "The total debt (in USD) of a user."
          },
          "available_borrows": {
            "type": "string",
            "title": "Available Borrows",
            "description": "The available borrows (in USD) of a user."
          },
          "liquidation_threshold": {
            "type": "string",
            "title": "Liquidation Threshold",
            "description": "The liquidation threshold of a user. A user might exceed this due to changing\n        asset values."
          }
        },
        "type": "object",
        "required": [
          "maximum_loan_to_value_ratio",
          "health_factor",
          "total_collateral",
          "total_debt",
          "available_borrows",
          "liquidation_threshold"
        ],
        "title": "AaveUserPositionSummaryResponse"
      },
      "AaveWithdrawRequest": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "sender": {
            "type": "string",
            "title": "Sender",
            "description": "The address of the transaction sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "asset": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the underlying asset to withdraw.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "WETH"
            ]
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount",
            "description": "The amount of the asset to withdraw",
            "examples": [
              1.5
            ]
          },
          "recipient": {
            "type": "string",
            "title": "Recipient",
            "description": "The address of the recipient of the withdrawn funds.",
            "examples": [
              "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
            ]
          }
        },
        "type": "object",
        "required": [
          "chain",
          "sender",
          "asset",
          "amount",
          "recipient"
        ],
        "title": "AaveWithdrawRequest",
        "example": {
          "amount": 1,
          "asset": "USDC",
          "chain": "arbitrum:mainnet",
          "recipient": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B",
          "sender": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
        }
      },
      "AerodromeLPPositionsInfo": {
        "properties": {
          "positions": {
            "additionalProperties": {
              "$ref": "#/components/schemas/AerodromePosition"
            },
            "type": "object",
            "title": "Positions",
            "description": "Liquidity provision positions belonging to a particular user. The key is a tuple of the token0, token1, tick_spacing, tick_lower, and tick_upper of the position."
          }
        },
        "type": "object",
        "required": [
          "positions"
        ],
        "title": "AerodromeLPPositionsInfo"
      },
      "AerodromeLiquidityProvisionCallData": {
        "properties": {
          "token_a": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the token to provide liquidity for<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "USDC"
            ]
          },
          "token_b": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the token to provide liquidity for<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "USDT"
            ]
          },
          "stable": {
            "type": "boolean",
            "title": "Stable",
            "description": "If true, try to provide liquidity on a stable pool with a bonding curve of K=x^3y+y^3x. If false, try to provide liquidity on a volatile pool with a bonding curve of K=xy"
          },
          "amount_a_desired": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount A Desired",
            "description": "The amount of token A you want to provide",
            "examples": [
              1000
            ]
          },
          "amount_b_desired": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount B Desired",
            "description": "The amount of token B you want to provide",
            "examples": [
              1000
            ]
          },
          "amount_a_min": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount A Min",
            "description": "The minimal amount of token A you are willing to provide",
            "examples": [
              900
            ]
          },
          "amount_b_min": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount B Min",
            "description": "The minimal amount of token B you are willing to provide",
            "examples": [
              900
            ]
          },
          "to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "To",
            "description": "The receiver of the LP tokens from this trade, default to sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "deadline": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Deadline",
            "description": "The deadline for this transaction in seconds since epoch",
            "examples": [
              1630000000
            ]
          }
        },
        "type": "object",
        "required": [
          "token_a",
          "token_b",
          "stable",
          "amount_a_desired",
          "amount_b_desired",
          "amount_a_min",
          "amount_b_min",
          "deadline"
        ],
        "title": "AerodromeLiquidityProvisionCallData",
        "example": {
          "amount_a_desired": 1,
          "amount_a_min": 0,
          "amount_b_desired": 1,
          "amount_b_min": 0,
          "deadline": 0,
          "stable": true,
          "to": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B",
          "token_a": "USDC",
          "token_b": "USDT"
        }
      },
      "AerodromeLiquidityProvisionEthCallData": {
        "properties": {
          "token": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the token to provide liquidity for alongside WETH.<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "USDC"
            ]
          },
          "stable": {
            "type": "boolean",
            "title": "Stable",
            "description": "If true, try to provide liquidity on a stable pool with a bonding curve of K=x^3y+y^3x. If false, try to provide liquidity on a volatile pool with a bonding curve of K=xy"
          },
          "amount_token_desired": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount Token Desired",
            "description": "The amount of token you want to provide",
            "examples": [
              1000
            ]
          },
          "amount_eth_desired": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount Eth Desired",
            "description": "The amount of WETH you want to provide",
            "examples": [
              1.5
            ]
          },
          "amount_token_min": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount Token Min",
            "description": "The minimal amount of token you are willing to provide",
            "examples": [
              900
            ]
          },
          "amount_eth_min": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string"
              }
            ],
            "title": "Amount Eth Min",
            "description": "The minimal amount of WETH you are willing to provide",
            "examples": [
              1.5
            ]
          },
          "to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "To",
            "description": "The receiver of the LP tokens from this trade, default to sender",
            "example": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B"
          },
          "deadline": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Deadline",
            "description": "The deadline for this transaction in seconds since epoch",
            "examples": [
              1630000000
            ]
          }
        },
        "type": "object",
        "required": [
          "token",
          "stable",
          "amount_token_desired",
          "amount_eth_desired",
          "amount_token_min",
          "amount_eth_min",
          "deadline"
        ],
        "title": "AerodromeLiquidityProvisionEthCallData",
        "example": {
          "amount_eth_desired": 0.00048,
          "amount_eth_min": 0,
          "amount_token_desired": 1,
          "amount_token_min": 0,
          "deadline": 0,
          "stable": true,
          "to": "0x29F20a192328eF1aD35e1564aBFf4Be9C5ce5f7B",
          "token": "USDC"
        }
      },
      "AerodromePosition": {
        "properties": {
          "nonce": {
            "type": "integer",
            "title": "Nonce"
          },
          "operator": {
            "type": "string",
            "title": "Operator"
          },
          "token0": {
            "$ref": "#/components/schemas/Token"
          },
          "token1": {
            "$ref": "#/components/schemas/Token"
          },
          "tick_spacing": {
            "type": "integer",
            "title": "Tick Spacing"
          },
          "tick_lower": {
            "type": "integer",
            "title": "Tick Lower"
          },
          "tick_upper": {
            "type": "integer",
            "title": "Tick Upper"
          },
          "liquidity": {
            "type": "integer",
            "title": "Liquidity"
          },
          "fee_growth_inside0_last_x128": {
            "type": "integer",
            "title": "Fee Growth Inside0 Last X128"
          },
          "fee_growth_inside1_last_x128": {
            "type": "integer",
            "title": "Fee Growth Inside1 Last X128"
          },
          "tokens_owed0": {
            "type": "integer",
            "title": "Tokens Owed0"
          },
          "tokens_owed1": {
            "type": "integer",
            "title": "Tokens Owed1"
          },
          "token_id": {
            "type": "integer",
            "title": "Token Id"
          }
        },
        "type": "object",
        "required": [
          "nonce",
          "operator",
          "token0",
          "token1",
          "tick_spacing",
          "tick_lower",
          "tick_upper",
          "liquidity",
          "fee_growth_inside0_last_x128",
          "fee_growth_inside1_last_x128",
          "tokens_owed0",
          "tokens_owed1",
          "token_id"
        ],
        "title": "AerodromePosition"
      },
      "AerodromeRemoveLiquidityCallData": {
        "properties": {
          "token_a": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the token to remove liquidity for<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "USDC"
            ]
          },
          "token_b": {
            "$ref": "#/components/schemas/Token",
            "description": "The symbol of the token to remove liquidity for<br> Note the [supported tokens per chain](/#/#token-table).<br>",
            "examples": [
              "USDT"
            ]
          },
          "stable": {
            "type": "boolean",
[...]
